.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: whitesmoke;
  width: 100vw;
}

.MenuLink {
  letter-spacing: 2px;
  padding: 0.5rem;
  color: whitesmoke;
  text-decoration: none;
}

.Title {
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  padding: 1rem;
}
