@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap");
body {
  margin: 0;
  font-family: "Gloria Hallelujah", cursive;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
